*{
    margin: 0;
    padding: 0;
}
header>img{
    width: 250px;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
#nav{
    display: flex;
    margin: 30px;
    gap: 20px;
    color: gray;
    font-size: 17px;
}
nav:first-of-type{
    color: #00b39b;
}
nav:hover{
color: #00b39b;
cursor: pointer;
}
.title{
color: #00b39b;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}
.para{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 30px 200px 30px 200px;
    gap: 30px;
    line-height: 1.6;
    
}
#first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first>img{
    width: 75px;
}
#cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 30px 200px 30px 200px;
}
.card:nth-child(1){
    background-color: #00b39b;
   
}
.card:nth-child(2){
    background-color: #3d83df;
}
.card:nth-child(3){
    background-color: #1b2734;
}
.card{
    border-radius: 10px;
    color: white;
    padding: 30px;
    height: 300px;
    width: 250px;
}
.card{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
span:first-of-type{
    line-height:1.6 ;
    font-size: larger;
}
.card:hover{
    opacity: 90%;
}
.card:hover{
    transform: scale(1.1);
box-shadow: 6px 10px 5px 0px rgba(150, 122, 122, 0.75);
    -webkit-box-shadow: 6px 10px 5px 0px rgba(150, 122, 122, 0.75);
    -moz-box-shadow: 6px 10px 5px 0px rgba(150, 122, 122, 0.75);
}
a{
    
    color: white;
}
.card-end{
    display: flex;
    align-items: center;
    gap: 10px;
}
select{
    background-color: #1b2734;
    color: white;
    border: 0;
    text-decoration: underline;
    margin-left: -5px;
    font-size: medium;
}
.foot{
    color: #3d83df;
}
.foot:hover{
    text-decoration: underline;
}
.test{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 330px;
    border-radius: 5px;
    margin: 50px;
}
.test>img{
    border-radius: 5px 5px 0px 0px;
}
.test>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-top: 15px;
}
.bu_1{
    background-color: #3d83df ;
    opacity: 90%;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    color: aliceblue;
}
button:hover{
    background-color: #006eff;
    opacity: 100%;
   
}
.test:hover{
      box-shadow: 0px 10px 5px 0px rgba(150, 122, 122, 0.5);
        -webkit-box-shadow: 0px 10px 5px 0px rgba(150, 122, 122, 0.5);
        -moz-box-shadow: 0px 10px 5px 0px rgba(150, 122, 122, 0.5);
}
.title_2{
    color: #06ccb2;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-variant: small-caps;
    text-transform: none;
    display: flex;
    padding-left: 270px;
    margin-top :50px; 
}
.images_2{
    display:flex;
    align-items: center;
    gap: 10px;
    padding-left:270px;
    justify-content: space-between;
    width: 50%;
    
}
.t_p>h1{
    color: #0e9785;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-variant: small-caps;
    text-transform: none;
    display: flex;
    padding-left: 20%;
    padding-right:200px;
    margin-top :50px; 
}
.t_p>p{
    margin-top :50px;
    color: black;
    padding-left: 20%;
    padding-right: 200px;
}
.t_p>img{
    margin-top: 10px;
    
}

#section_4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: white;
    background-color: #dafffa;
    margin-top: 70px;

}

.card_2{
        display: flex;
        align-items: center;
        height: 250px;
        gap: 2px;
        border:  #dafffa solid;
        background-color: white;
        color: black;
        border-radius: 5x;
        padding: 15px;
        height: 400px;
        width: 200px;
         text-align: center;
         font-size: -8125em;
        
    
}


.h_3{
    display: flex;
    align-items: center;
    color: #06ccb2;
    padding: 0%;
    text-align: center;
}
.imgs{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding:0%;
    
}

.h_2{
    display: flex;
    align-items: center;
    color: #06ccb2;
    margin-bottom :20px ;
    text-align: center;
}
.para_3{
    display: flex;
    padding: 0px;
}
#test_{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
header{
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: white;
}



@media all  and (max-width: 1346px) {

    body {
      background-color: lightblue;
      
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
    
    }
    #first {
        background-color: lightblue;
      
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
    }
    #cards {
        background-color: lightblue;
      
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;

    }
    #section_3 {
        background-color: lightblue;
      
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
    }
    #section_4 {
        background-color: lightblue;
      
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
    }
    #test {
        background-color: lightblue;
      
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
    }
  }
